@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
:root {
  --radius: 1rem;
  --background: oklch(0.985 0.005 250);
  --foreground: oklch(0.161 0.007 285.75);
  --card: oklch(0.985 0.005 250);
  --card-foreground: oklch(0.161 0.007 285.75);
  --popover: oklch(0.985 0.005 250);
  --popover-foreground: oklch(0.161 0.007 285.75);
  --muted: oklch(0.896 0.009 286);
  --muted-foreground: oklch(0.521 0.005 285.84);
  --accent: oklch(0.704 0.22 29.23);
  --accent-foreground: oklch(0.985 0.005 250);
  --destructive: oklch(0.577 0.245 27.33);
  --destructive-foreground: oklch(0.985 0.005 250);
  --border: oklch(0.896 0.009 286);
  --input: oklch(0.896 0.009 286);
  --primary: oklch(0.577 0.237 28.3);
  --primary-foreground: oklch(0.985 0.005 250);
  --secondary: oklch(0.704 0.22 29.23);
  --secondary-foreground: oklch(0.161 0.007 285.75);
  --ring: oklch(0.577 0.237 28.3);
}
.dark {
  --background: oklch(0.161 0.007 285.75);
  --foreground: oklch(0.985 0.005 250);
  --card: oklch(0.161 0.007 285.75);
  --card-foreground: oklch(0.985 0.005 250);
  --popover: oklch(0.161 0.007 285.75);
  --popover-foreground: oklch(0.985 0.005 250);
  --muted: oklch(0.282 0.01 285.75);
  --muted-foreground: oklch(0.704 0.01 285.75);
  --accent: oklch(0.704 0.22 29.23);
  --accent-foreground: oklch(0.985 0.005 250);
  --destructive: oklch(0.626 0.257 27.1);
  --destructive-foreground: oklch(0.985 0.005 250);
  --border: oklch(0.282 0.01 285.75);
  --input: oklch(0.282 0.01 285.75);
  --primary: oklch(0.704 0.22 29.23);
  --primary-foreground: oklch(0.161 0.007 285.75);
  --secondary: oklch(0.282 0.01 285.75);
  --secondary-foreground: oklch(0.985 0.005 250);
  --ring: oklch(0.704 0.22 29.23);
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
